# Tuple Objects
A *tuple* is just an ordered collection of some Python objects.

To create a tuple,
write some Python objects seperating them with a: `,`

In [ ]:
'hello', 'world', 1, None, 1

('hello', 'world', 1, None, 1)

**Warning:** When representing a tuple object, like in the previous example, Python always adds a pair of paranthesis around the tuple.

Writing the tuples in this way is a good practice.

Python also allows one more `,` at the end of the tuple.
This extra `,` does not have an effect.
The tuple created will be the same.

In [ ]:
'hello', 'world', 1, None, 1,

('hello', 'world', 1, None, 1)

So if you want to create a tuple with single object then just write the object and put a `,` at the end.

In [ ]:
'hello',

('hello',)

**Warning:** Writing `('hello')` without `,` does not create a tuple!

If you want to create an empy tuple use:

In [ ]:
()

()

Since a tuple is one Python object then you can assign it to a variable.

In [ ]:
h = 'hello',
w = 'world', 1

## Operations on tuples
Like strings:

You can get the length of a tuple by the builtin `len()` function.

In [ ]:
len(w)

2

To test if an item is in the tuple use `in` keyword.

In [ ]:
'world' in w, 'hello' in w

(True, False)

To count the number of occurances of an item in a tuple use `.count()` method.

In [ ]:
w.count('world'), w.count('hello')

(1, 0)

Python tuples can be concatenated by `+` operation.

In [ ]:
h + w

('hello', 'world', 1)

Also you can use `*` to repeat the same tuple multiple times.

In [ ]:
(h + w) * 3

('hello', 'world', 1, 'hello', 'world', 1, 'hello', 'world', 1)

You can compare two tuples with `<`, `<=`, `>`, `>=`, `==` and `!=` operations.

In [ ]:
h == ('hello',)

True

In [ ]:
h + w > h

True

Here the comparision is done in lexicographic order.

# Precedence of the `,` Operator
**Warning:** Precedence of the `,` operator is less than the other operators except the `=` operator.
Therefore, when doing tuple operations, always use paranthesis around the `,` separated tuple items.

**For example:**

In [ ]:
1, 2 + 3, 4

(1, 5, 4)

is equivalent to:

In [ ]:
1, (2 + 3), 4

(1, 5, 4)

but not equivalent to:

In [ ]:
(1, 2) + (3, 4)

(1, 2, 3, 4)

## Nested Tuples
Paranthesis is used to create a tuple with another tuple:

In [ ]:
a = 'one', 2, (3, (4, 5))
len(a)

3

Here the items of the tuple are: `'one'`, `2` and `(3, (4, 5))`.

## Accessing Tuple Items
To access the first item in a tuple use `[0]`,
to access the second `[1]`,
and so on.

In [ ]:
a[0]

'one'

To access the last item of a tuple use `[-1]`.
You can use negative numbers to index the items from end.

In [ ]:
a[-1]

(3, (4, 5))

To index a tuple from the beginning count like `0,1,2,...`
To index a tuple from the end count like `-1,-2,-3,...`

To get the (positive) index of an item in a tuple use `.index()` method.

In [ ]:
a.index((3,(4,5)))

2

To access an item in a nested tuple use multiple `[...]`'s.

In [ ]:
a[-1][1]

(4, 5)

In [ ]:
a[-1][1][0]

4

Since we use the same notation to access the letters of a string,
be careful when working on tuples of strings.

In [ ]:
a[0][0]

'o'

Here `a[0][0]` is the first character of the first item in the tuple.

### Range of Indexes
You can get a part of a tuple by `[start:end]` notation.

In [ ]:
a[0:2]

('one', 2)

Here `a[0:2]` gets a tuple with `a[0]` and `a[1]` but not `a[2]`.
You can also use negative indexes here.

In [ ]:
a[0:-1]

('one', 2)

If you ommit the start index Python assumes it `0`.
So to get the first `2` items:

In [ ]:
a[:2]

('one', 2)

If you ommit the end index Python assumes it the length of the tuple.
So to get the last `2` items:

In [ ]:
a[-2:]

(2, (3, (4, 5)))

If your indexes are out of valid ranges then Python assumes them like empty:

In [ ]:
a[-10:10]

('one', 2, (3, (4, 5)))

You can skip some items with `[start:end:skip]` notation.
For example to get only the items in odd positions:

In [ ]:
a[::2]

('one', (3, (4, 5)))

## Unpacking Tuple Items
If you need you can assign different variables to each item of a tuple.
This is called unpacking.

In [ ]:
a

('one', 2, (3, (4, 5)))

In [ ]:
first, second, third = a

In [ ]:
first

'one'

In [ ]:
second

2

In [ ]:
third

(3, (4, 5))

Also you can do this nested if the tuple is nested.

In [ ]:
first, second, (first_of_third, (first_of_second_of_third, second_of_second_of_third)) = a

In [ ]:
second_of_second_of_third

5

### Repacking Tuple Items
You can use `*` to unpack a tuple and
use `,` to pack to a tuple.
Here `*` prevents Python from creating a nested tuple instead of a flat one.

In [ ]:
*a, None

('one', 2, (3, (4, 5)), None)

Compare this with:

In [ ]:
a, None

(('one', 2, (3, (4, 5))), None)

## Error Messages
The following code defines a Jupyter magic that catches the exceptions
and prints the error message.

In [ ]:
from IPython.core.magic import register_cell_magic
from traceback import TracebackException
from sys import stderr

@register_cell_magic
def handle(line, cell):
    try:
      exec(cell)
    except Exception as e:
      print(
          *TracebackException.from_exception(e).format_exception_only(),
          file=stderr,
          )

If you try to access an item which is not in the tuple, Python yields an `IndexError`.

In [ ]:
%%handle
a[3]

IndexError: tuple index out of range

If you try to get index of an item which is not in the tuple, Python yields a `ValueError`.

In [ ]:
%%handle
a.index(1)

ValueError: tuple.index(x): x not in tuple